@import url(base.css);
header{
	width: 100%;
	height: 40px;
	background: #444;
}
main{
	/* width: 976px; */
	height: 100%;
	background: #444;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
div{
	font-size: 10px;
	color: #a8a8aa;
}
nav{
	width: 100%;
	height: 44px;
	background: #333;
	/* position: fixed; */
	z-index: 20;
	
}
nav ul{
	height: 44px;
	background: #333;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sou ul{
	height: 44px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav ul a{
	font-size: 12px;
}
.sou ul a{
	font-size:30px;
	color: #fff;
}
nav ul a .icon-apple,nav ul a .icon-search,nav ul a .icon-gouwudai{
	font-size: 20px;
}
.sou ul .icon-apple{
	font-size: 30px;
	color: #fff;
}
.box5{
	width: 288px;
	height: 307px;
	background: #fff;
	border: 1px solid #a8a8a8;
	position: absolute;
	top: 84px;
	right: 0;
}
.box5 h2{
	font-size: 15px;
	color: #000;
	text-align: center;
	line-height: 80px;
}
.box5 .bx{
	width: 248px;
	height: 43px;
	margin-left: 20px;
	border-top: 1px solid #E3E3E3;
}
.box5 .bx i{
	color: #0070C9;
	line-height: 43px;
}
.box5 .bx span{
	color: #0070C9;
	line-height: 43px;
	font-size: 13px;
}
.sou{
	width: 100%;
	/* height: 500px; */
	background: #000;
	position: absolute;
	left: 0;
	top: 40px;
	z-index: 30;
	display: none;
}
.sou input{
	width: 90%;
	height: 40px;
	margin-left: 20px;
	margin-top: 10px;
	border-radius: 10px;
	background: #282828;
	outline: none;
	color: #999;
	border: 0;
	text-indent: 1em;
}
.sou .hz{
	width: 100%;
	height: 1px;
	background: #282828;
	margin-top: 10px;
}
.sou .list{
	width: 80%;
	height: 40px;
	/* background: red; */
	margin: 0 auto;
	margin-top: 8px;
	border-bottom: 1px solid #282828;
}
.sou .list span{
	font-size: 15px;
	line-height: 40px;
	color: #fff;
}
.sou .list:last-child{
	border-bottom:0;
}
section ul,section{
	width: 100%;
	height: 691px;
	position: relative;
	overflow: hidden;
	margin-bottom: 12px;
	background: #fafafa;
}
section li{
	width: 100%;
	background: #fafafa;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
}
section li h2{
	font-weight: 600;
	color: #111;
	text-align: center;
}
section li h3{
	font-weight: normal;
	text-align: center;
}
section li h4{
	font-weight: normal;
	text-align: center;
	color: #0070cc;
}
section li .box{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
list ul,list{
	width: 100%;
	height: 691px;
	position: relative;
	overflow: hidden;
	background: #f5f5f5;
	margin-bottom: 12px;
}
list li{
	width: 100%;
	background: #f5f5f5;
	margin-bottom: 12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
}
list li h2{
	color: #111;
	font-weight: 600;
	text-align: center;
}
list li h3{
    color: #111;
    font-weight: normal;
    text-align: center;
}
list li h4{
    font-size: 18px;
    font-weight: normal;
	text-align: center;
	color: #0070cc;
}
list li .box1{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
list1 ul,list1{
	width: 100%;
	height: 1788px;
	position: relative;
	overflow: hidden;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f9f0eb;
    border: 0;
  
}
list1 li{
	width: 100%;
	margin-top: 0;
	background: #f9f0eb;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
}
list1 li h2{
	color: #111;
	font-weight: 600;
	text-align: center;
}
list1 li h3{
    color: #111;
    font-weight: normal;
    text-align: center;
}
list1 li h4{
    font-weight: normal;
	text-align: center;
	color: #0070cc;
}
list1 ul div{
    /* width: 50%;
    height: 593px; */
    background: pink;
    float: left;
    border-bottom: 12px solid #fff;
	border-left: 12px solid #fff;
	border-right: 12px solid #fff;
	/* background: url('../img/iphone_8_large.jpg') no-repeat center; */
	box-sizing: border-box;
}
list1 ul div:nth-child(2n){
	border-left: 6px;
}
footer{
	width: 100%;
	height: auto;
	background: #f2f2f2;
	overflow: hidden;
}
main1 ul{
	
	/* background: blue; */
	margin: 43px auto 0;
	/* display: flex;
	justify-content: space-around;
	align-items: flex-start; */
}
main1 ul li{
	float: left;
	width: 20%;
	height: 100%;
}
main1 ul li:first-child{
	width: 20%;
	height: 100%;
}
main1 ul li:nth-child(2){
	width: 20%;
	height: 100%;
}
main1 ul li:nth-child(3){
	width: 20%;
	height: 100%;
}
main1 ul li:nth-child(4){
	width: 20%;
	height: 100%;
}
main1 ul li:last-child{
	width: 20%;
	height: 100%;
	/* background: green;  */
}
.max main1 ul li a h3{
    font-size: 10px;
    color: #333;
    font-weight: normal;
}
nav ul li a{
	color: #fff;
}
main2 ul{
	/* background: #ff6700; */
	margin: 27px auto 0;
	border-bottom: 1px solid #888;
}
main2 ul li h3{
	font-size: 10px;
	line-height: 32px;
	font-weight: normal;
	color: #999;
}
main3 ul{
	
	margin: auto;
}
main3 ul span{
	font-size: 10px;
	color: #999;
	line-height: 35px;
	float: left;
	margin-top: 0;
}
.go h4{
	font-size: 10px;
	color: #555;
	line-height: 16px;
	float: left;
	margin-left: 10px;
	border-right: 1px solid #d6d6d6;
	padding-right: 10px;
	margin-top: 10px;
}

 .icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
}
.go svg{
	font-size: 20px;
	margin-top: 8px;/* 
	margin-left: 345px; */
}
.go h3{
	font-size: 10px;
	line-height: 35px;
	color: #555;
	float: right;
}
main3 ul li h5{
	width: 100%;
	height: auto;
	font-size: 10px;
	color: #999;
	font-weight: normal;
}
.min ul{
 	position: relative;
}
.min ul li{
    height: 44px;
    border-bottom: 1px solid #d6d6d6;
    line-height: 44px;
} 
.min ul li a i{
	font-size: 30px;
}
.min ul li h3{
	float: right;
	font-size: 10px;
	line-height: 37px;
	color: #555;
}
.min ul li h4{
	float: left;
	color: #555;
	font-size: 10px;
	line-height: 37px;
}
.min ul  h2{
	font-size: 10px;
	line-height: 30px;
	color: #999;
	border-bottom: 0;
}
.min ul h5{
    font-size: 10px;
	color: #999;
}
.min ul .go{
	font-size: 10px;
	color: #555;
	border-right: 1px solid #d6d6d6;
	padding-right: 10px;
}
.min ul span{
	font-size: 10px;
	margin-top: 6px;
}
.min .go h4{
	margin-left: 0px;
}
.store,.store1,.store2,.store3,.store4,.store5,.store6{
	width: 100%;
	height: auto;
	background: #F2F2F2;
	display: none;
}
.store h5{
	font-size: 20px;
	color: #C1CCC7;
	font-weight: normal;
	margin-top: 10px;
}
/* >1024 */
@media screen and (min-width: 1024px){
	main{
		width: 976px;
	}
	ul{
		width: 976px;
	}
	.min{
		display: none;
	}
	.max{
		display: block;
	}
	section li h2{
		font-size: 41px;
		margin-top: 115px;
		line-height: 63px;
	}
	section li h3{
		font-size: 24px;
		line-height: 42px;
	}
	section li h4{
		font-size: 18px;
		line-height: 44px;
	}
    section li .box{
		width: 1068px;
		height: 337px;
		background: url('../img/iphone_x_large.jpg') no-repeat center;
		background-size: 1068px 337px;
    }
    list li h2{
		font-size: 41px;
		margin-top: 85px;
		line-height: 61px;
	}
	list li h3{
    	font-size: 22px;
    	line-height: 42px;
    }
    list li h4{
    	font-size: 18px;
    	line-height: 45px;
    }
    list li .box1{
        width: 930px;
        height: 335px;
        background: url('../img/apple1.jpg') no-repeat center;
        background-size: 930px 335px;
    }
    list1 li h2{
		font-size: 30px;
		margin-top: 48px;
		line-height: 40px;
	}
	list1 li h3{
    	font-size: 17px;
    	line-height: 36px;
    }
    list1 li h4{
    	font-size: 14px;
    	line-height: 45px;
    }
    list1 ul div{
        width: 50%;
        height: 593px;
        background: url('../img/iphone_8_large.jpg') no-repeat center;
        background-size: 50% 240px;
    }
    main1 ul{
		width: 980px;
		height: 368px;
    }
    main2 ul{
    	width: 980px;
		height: 32px;
    }
    main3 ul{
    	width: 980px;
		height: 71px;
    }
    .go{
		width: 980px;
    	height: 35px;
	}
	.max main1 ul li a h3{
		 margin-bottom: 13px;
	}


} 


/* <1024 */
@media screen and (max-width: 1024px){
	main{
		padding-right: 22px;
	}
	.max ul{
		padding: 0 22px;
	}
	section li .box{
	width: 736px;
	height: 336px;
	background: url('../img/apple3.jpg') no-repeat center;
	background-size: 736px 336px;
    }
	.min{
		display: none;
	}
	.max{
		display: block;
	}
	section li h2{
		font-size: 31px;
		margin-top: 100px;
		line-height: 49px;
	}
	section li h3{
		font-size: 18px;
		line-height: 36px;
	}
	section li h4{
		font-size: 16px;
		line-height: 44px;
	}
	 list li h2{
		font-size: 31px;
		margin-top: 74px;
		line-height: 49px;
	}
	list li h3{
    	font-size: 19px;
    	line-height: 36px;
    }
    list li h4{
    	font-size: 16px;
    	line-height: 48px;
    }
    list li .box1{
        width: 650px;
        height: 325px;
        background: url('../img/apple2.jpg') no-repeat center;
        background-size: 650px 325px;
    }
    list1 li h2{
		font-size: 24px;
		margin-top: 42px;
		line-height: 36px;
	}
	list1 li h3{
    	font-size: 16px;
    	line-height: 28px;
    }
    list1 li h4{
    	font-size: 13px;
    	line-height: 45px;
    }
    list1 ul div{
        width: 50%;
        height: 593px;
        background: url('../img/iphone_8_medium.jpg') no-repeat center;
        background-size: 50% 280px;
    }
    list1{
    	padding: 0;
    }
    footer{
    	padding: 0 24px;
    	box-sizing: border-box;
    }
    main1 ul{
		width: 100%;
		height: 368px;
    }
    main2 ul{
    	width: 100%;
		height: 32px;
    }
    main3 ul{
    	width: 100%;
		height: 71px;
    }
    .go{
		width: 100%;
    	height: 25px;
    }
    .max main1 ul li a h3{
		 margin-bottom: 10px;
	}
}
/* <768 */
@media screen and (max-width: 768px){ 
	.max{
		display: none;
	}
	.min{
		display: block;
	}
	section li .box{
	width: 320px;
	height: 353px;
	background: url('../img/apple4.jpg') no-repeat center;
	background-size: 320px 353px;
    }
    section li h2{
		font-size: 23px;
		margin-top: 27px;
		line-height: 37px;
	}
	section li h3{
		font-size: 14px;
		line-height: 30px;
	}
	section li h4{
		font-size: 15px;
		line-height: 33px;
	}
	section ul{
		width: 100%;
		height: 530px;
	}
	 list li h2{
		font-size: 23px;
		margin-top: 35px;
		line-height: 37px;
	}
	list li h3{
    	font-size: 16px;
    	line-height: 30px;
    }
    list li h4{
    	font-size: 14px;
    	line-height: 28px;
    }
    list li .box1{
        width: 228px;
        height: 340px;
        background: url('../img/ipad_small.jpg') no-repeat center;
        background-size: 228px 340px;
    }
    list ul{
		width: 100%;
		height: 530px;
	}
	 list1 li h2{
		font-size: 24px;
		margin-top: 36px;
		line-height: 36px;
	}
	list1 li h3{
    	font-size: 16px;
    	line-height: 28px;
    }
    list1 li h4{
    	font-size: 13px;
    	line-height: 44px;
    }
    list1 ul div{
        width: 100%;
        height: 600px;
        background: url('../img/iphone_8_small.jpg') no-repeat center;
        background-size: 50% 300px;
        border-right: 0;
        border-left: 0;
    }
    footer{
    	width: 100%;
    	padding: 0 24px;
    	box-sizing: border-box;
    }
    .min ul{
    	width: 100%;
    }
}
